* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.avatar img {
  text-align: left;
  max-width: 80px;
  border-radius: 50%;
  margin: 16px 0;
}

.headline {
  text-align: right;
}

.headline h1 {
  padding-top: 15px;
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 0px;
}

.headline p {
  margin-top: 0px;
  font-weight: 700;
}

hr {
  height: 1px;
  background-color: #aaa;
  margin-top: 0px;
}

h2 {
  color: #aaa;
  font-weight: 300;
}

.featured-projects {
  text-align: center;
}

.project img {
  max-width: 100%;
}
