@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.title {
  background-color: #33bebe;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-top: 30px;
  padding-left: 20px;
}

.app {
 display: flex;
}

.screenshot {
  max-width: 460px;
}

.description {
  margin-left: 20px;
  font-family: sans-serif;
}
